docker.enabled = true
manifest.defaultBranch = 'main'
nextflow.enable.dsl = 2

params {
    // Inputs
    subject_id        = null
    // Reads, as list for mulitple items or string for single
    input_fps         = ['data/example_1.fq', 'data/example_2.fq']
    input_type        = null  // choice: fastq_paired, fastq_single, interleaved, bam
    // Reference files (gene_coordinates required for BAM inputs)
    gene_coordinates  = null
    reference         = null

    // Present parameters for specific mode
    // hla, kir-wgs, kir-wes
    preset            = null

    // Outputs
    publish_dir_mode  = 'symlink'
    output_dir        = null
}

process {
    withName: 'T1K' {
        publishDir = [
            path: { "${params.output_dir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> "${meta.id}/t1k/${filename}" },
        ]
    }
}
